@model server.Models.Product

<h1>@Model.Title</h1>
<img src="@Model.TitlePictureUrl" alt="@Model.Title" width="300" />
<p>Описание: @Model.Description</p>
<p>Цена: @Model.Price ₽</p>
<p>Продавец: @Model.Seller</p>
<p>Рейтинг: @Model.Grade</p>

<a href="@Url.Action("Catalog")">Вернуться в каталог</a>
