@model IEnumerable<server.Models.Product>

<h1>Каталог товаров</h1>

<form method="get">
    <input type="text" name="search" placeholder="Поиск товаров" value="@ViewContext.HttpContext.Request.Query["search"]" />
    <select name="sort">
        <option value="">Сортировать по</option>
        <option value="price_asc" selected="@(ViewContext.HttpContext.Request.Query["sort"] == "price_asc")">Цена по возрастанию</option>
        <option value="price_desc" selected="@(ViewContext.HttpContext.Request.Query["sort"] == "price_desc")">Цена по убыванию</option>
    </select>

    <select name="producer">
        <option value="">Фильтр по производителям</option>


        @foreach (var category in Model)
        {
            <option value="@category.Category" )>@category.Category</option>
        }
    </select>

    <button type="submit">Применить</button>
</form>

<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <img src="@product.TitlePictureUrl" alt="@product.Title" width="150" />
            <h2>@product.Title</h2>
            <p>Цена: @product.Price $</p>
            <a href="@Url.Action("ProductDetails", new { id = product.Id })">Подробнее</a>
        </div>
    }
</div>
